.job-item-details-container {
  background-color: #000000;
  min-height: 91vh;
  padding-top: 18px;
  padding-left: 8px;
  padding-right: 8px;
}

.job-item-details-loading-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-item-failure-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-item-detail-container {
  background-color: #272727;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.description-and-company-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.company-site-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visit-text {
  font-family: 'Roboto';
  color: #6366f1;
  font-weight: 400;
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.skills-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.skills-item-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.skills-item {
  display: flex;
  align-items: center;
  width: 150px;
  margin-bottom: 18px;
}

.skill-img {
  height: 30px;
  width: 30px;
}

.skill-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 8px;
}

.life-at-company-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.company-life-description {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 18px;
  line-height: 20px;
}

.company-life-img {
  width: 100%;
}

.similar-jobs-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
}

.similar-job-item-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.external-link-icon {
  color: #6366f1;
  height: 15px;
  width: 15px;
}

@media screen and (min-width: 768px) {
  .job-item-details-container {
    padding: 38px;
  }
  .job-item-detail-container {
    padding-top: 38px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 38px;
  }
  .visit-text {
    font-size: 22px;
  }
  .external-link-icon {
    height: 22px;
    width: 22px;
  }
  .skills-heading {
    font-size: 22px;
  }
  .skill-img {
    height: 50px;
    width: 50px;
  }
  .skill-name {
    font-size: 22px;
  }
  .skills-item {
    width: 250px;
    margin-bottom: 28px;
  }
  .life-at-company-heading {
    font-size: 22px;
  }
  .company-life-description {
    font-size: 20px;
    line-height: 30px;
  }
  .company-life-container {
    display: flex;
  }
}
